.feynman {
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}
